@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    font-family: 'Pretendard-Regular', sans-serif;
}

/* 스크롤바 설정*/
*::-webkit-scrollbar{
    width: 10px;
}

/* 스크롤바 막대 설정*/
*::-webkit-scrollbar-thumb{
    background-color: gainsboro;
    /* 스크롤바 둥글게 설정    */
    border-radius: 5px;
    border-style: hidden;
}

header {
    padding-bottom: 5px;
    border-style: hidden;
    border-width: 0 0 1px 0;
    box-shadow: 0 4px 4px -4px lightgray;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.container.mt-4{
    display: block;
}

.content.text-left {
    display: flex;
}

.main-frame {
    padding-top: 10px;
    max-width: 800px;
}

.between-void {
    margin: 25px;
}

.buttonBox {
    position: sticky;
    top: 20px;
    padding: 10px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    height: 260px;
    display: block;
    justify-content: center;
}

.listBox {
    margin: 10px;
    max-width: 250px;
    border: 1px solid #9f9f9f;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.regiContent {
    display: flex;
    /*align-center: center;*/
    justify-content: space-between;
}

.evaluate {
    display: inline-flex;
    font-size: small;
}

.filledStar {
    margin-right: 5px;
    display: flex;
}

.unfilledStar {
    display: none;
}

.evaluateNumber {
    font-size: small;
}


.swiper-container {
    position: relative;
    overflow: hidden;
}

.swiper-wrapper{
    margin-top: 5px;
    height: auto;
    width:100%;
    position: relative;
}

.swiper-slide {
    max-width: 100%;
    height: auto;
}

.slide-img {
    width: 100%;
}

.navbar {
    margin-top: 30px;
    margin-left: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-nav {
   list-style: none;
   display: flex;
   margin-right: 250px;
}
.nav-item {
    margin-right: 25px;
}
footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    background-color: #f1f1f1; /* Adjust the background color as needed */
    padding: 10px;
    color: lightslategray;
}

.footer-info {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}

p {
    margin: 0;
}

.listBox {
    margin: 10px;
    max-width: 250px;
    border: 1px solid #9f9f9f;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#filled-heart {
    display: none;
}

.expand-shrink {
    animation: expandShrinkAnimation 1.0s ease-in-out;
}

@keyframes expandShrinkAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(2.2); }
    100% { transform: scale(1); }
}

#my-login-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#drop-flex {
    display: flex;
    align-items: center;
}