@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@keyframes formopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
    background-color: #f8f9fa;
}

/* 스크롤바 스타일 */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 10px;
    border-style: hidden;
}

*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

header {
    padding-bottom: 5px;
    border-style: hidden;
    border-width: 0 0 1px 0;
    box-shadow: 0 4px 4px -4px lightgray;
}

.search {
    position: relative;
    width: 300px;
    margin-top: 30px;
    margin-left: 10px;
}

.search input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

.search-btn {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}

.navbar {
    margin-left: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-nav {
    margin-right: 200px;
    margin-top: 15px;
}
