<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathport</title>
    <link rel="stylesheet" th:href="@{${cssPath}}" />
    <script defer th:src="@{${jsPath}}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

        </head>
<body>
<div class="wrapper">
    <div class="container">
        <h2>비밀번호 찾기</h2>
        <form action="/findPassword" name="sendEmail" method="post">
            <div class="form-group">
                <p class="email-link">회원가입시 등록하신 이메일 주소로 임시비밀번호를 발송해드립니다.</p>
                <input type="email" id="userEmail" name="username" placeholder="이메일">
            </div>
            <button type="submit" class="form_btn" id="checkEmail">임시비밀번호 발급받기</button>
        </form>

    </div>
</div>
</body>
</html>